@use "../../scss/variables" as *;
@use "../../scss/media-queries" as *;

nav {
  display: flex;
  width: 100%;
  padding: 1.6rem 3.2rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $border;
  background: $background;

  ul {
    display: flex;
    align-items: center;
    gap: 4rem;
    list-style: none;

    li a {
      text-decoration: none;
      font-size: 1.6rem;
      color: $black;
      font-weight: 500;
      text-transform: uppercase;

      &:active {
        color: $black;
      }
    }
  }

  .nav-title {
    text-align: center;

    h3 {
      font-weight: 500;
      font-size: 2rem;
    }

    p {
      font-size: 1rem;
    }
  }

  .social-link {
    font-size: 3rem;

    i {
      margin: 0 1rem;
    }
  }

  // Mobile : tout en colonne
  @include sm {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;

    ul {
      flex-direction: column;
      align-items: center;
      gap: 2rem;
    }

    .nav-title {
      text-align: center;
    }

    .social-link {
      display: flex;
      justify-content: center;
      gap: 2rem;
    }
  }
}

// ----- ETAT ACTIF -----
.active {
  border-bottom: 1px solid $black;
  font-weight: 700;
}
