@use "../../scss/variables" as *;
@use "../../scss/media-queries" as *;

.contact-container {
  width: 100%;
  background-color: $black;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include sm {
    display: flex;
    flex-direction: column;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    padding: 8rem 10rem;
    align-items: flex-start;
    justify-content: center;
    gap: 3rem;

    @include sm {
      padding: 3rem 2rem;
      text-align: center;
      align-items: center;
    }

    .title-svg {
      display: flex;
    }

    h2 {
      font-family: "Libre Baskerville";
      font-size: 5rem;
      font-weight: 700;
      line-height: 100%;
      letter-spacing: -1.83px;
      color: $white;

      span {
        color: $primary-color;
      }

      @include sm {
        font-size: 3.6rem;
      }
    }

    p {
      color: $white;
      font-size: 2rem;
      font-weight: 300;
      line-height: 3rem;

      @include sm {
        font-size: 1.6rem;
        line-height: 2.4rem;
      }
    }
  }

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8rem 10rem;
    gap: 6rem;

    @include sm {
      padding: 3rem 2rem;
      gap: 1rem;
    }

    input,
    textarea {
      background-color: $black;
      border: 1px solid #d6d7dd;
      color: $white;
      font-size: 2rem;
      font-weight: 300;
      line-height: 2.5rem;
      letter-spacing: -0.63px;
      width: 100%;
      max-width: 56rem;
      margin: 0.5rem 0;
    }

    input {
      padding: 1.5rem 2.5rem;
    }

    #fullname {
      border-radius: 24px 24px 0 0;
    }

    #message {
      padding: 1.5rem 2.5rem;
      height: 32rem;
      resize: none;
      border-radius: 0 0 24px 24px;
    }

    .btn-contact {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-width: 56rem;
      padding: 2rem 2.4rem;
      border-radius: 48px;
      background: $primary-color;
      color: $black;
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 1.5rem;
      letter-spacing: -0.48px;
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px $black inset !important;
  -webkit-text-fill-color: $white !important;
}
