@use "../../scss/variables" as *;

.home-container {
  display: flex;
  padding: 80px 25px 0px 25px;
  flex-direction: column;
  align-items: center;
  gap: 72px;

  .title-section {
    display: flex;
    height: 24rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  h1 {
    text-align: center;
    font-family: "Libre Baskerville";
    font-size: 6rem;
    font-weight: 700;
    line-height: 6rem;
    letter-spacing: -1.83px;
  }
  p {
    font-size: 2rem;
    font-weight: 300;
    line-height: 3rem;
    text-align: center;
  }

  .home-button {
    display: flex;
    padding: 2rem 2.4rem;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 48px;
    background: $primary-color;
    color: $black;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: -0.48px;
    margin: 0.5rem 0;
  }
}

.img-container {
  gap: 2rem;
  margin: 3rem auto;
  padding: 0 1rem;
  display: flex;
  align-items: flex-start; /* Aligner les conteneurs gallery en haut */
}

.gallery-left {
  display: flex;
  gap: 2rem;
}

.gallery-left img {
  width: 448px;
  height: 560px;
  display: block;
  object-fit: cover;
}

.gallery-right {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.gallery-right img {
  width: 100%; /* Les images de droite prennent toute la largeur de leur conteneur */
  height: 270px; /* Ajuster la hauteur pour que les deux images combinées aient environ la même hauteur que celles de gauche (560px) */
  object-fit: cover;
  display: block;
  border: 3px solid transparent;
  transition: border 0.3s;

  &:hover {
    border-color: #ffd500;
  }
}
